*{
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman', Times, serif;
}
.raja{
    background-color: black;
 
}
.raja h1{
    color: white;
    float: left;
    line-height: 2cm;
    text-indent: 20px;
}
.raja ul li{
    list-style: none;
    display: inline-block;

}

.raja ul li a{
    text-decoration: none;
    font-size: 0.5cm;
    float: right;
    position: relative;
    left: 350px;
    right: 10px;
    color: white;
    margin: 30px;
    
}
.raja ul li a:hover{
    color: green;
}

.bottom{
    width: 100%;
    height: 50px;
}  
.bottom p{
    text-align: center;
    text-transform: uppercase;
    margin: 20px;
}